<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}

{% block announce %}
<a href="https://openvidu.io/?utm_source=livekit-tutorials&utm_medium=referral&utm_campaign=announce-cta" target="_blank" style="color: inherit;">
  These are vanilla LiveKit tutorials. Want the same LiveKit-compatible API, self-hosted and production-ready out of the box? <strong>Try OpenVidu &rarr;</strong>
</a>
{% endblock %}

{% block extrahead %}
{{ super() }}
{% include "partials/json-ld.html" %}
{# The site's single font stylesheet (theme.font is false), the same one
   openvidu.io loads. Self-hosted at build time by the privacy plugin. #}
<link
  rel="preload"
  href="https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet" type="text/css" />
</noscript>
{% endblock %}
