<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}

{% block announce %}
<a href="https://openvidu.io/?utm_source=livekit-tutorials&utm_medium=referral&utm_campaign=announce-cta" target="_blank" style="color: inherit;">
  These are vanilla LiveKit tutorials. Want the same LiveKit-compatible API, self-hosted and production-ready out of the box? <strong>Try OpenVidu &rarr;</strong>
</a>
{% endblock %}

{% block extrahead %}
{{ super() }}
{% include "partials/json-ld.html" %}
<link href="https://fonts.googleapis.com/css?family=Tomorrow:100,200,300,400,500,600" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}
